.color-exemplary {
    color: darkblue;
}

.color-very-good {
    color: darkgreen;
}

.color-good {
    color: yellowgreen;
}

.color-satisfies {
    color: orangered;
}

.color-bad {
    color: red;
}