.float-right {
    float: right;
}

.float-left {
    float: left;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.read-only-background {
    background-color: #fcfdff !important;
}

.padding-right {
    padding-right: 5%;
}

.padding-left {
    padding-left: 5%;
}

.navbar-right-logout {
    float: right !important;
}

.text-align-center {
    text-align: center;
}

.error-color {
    color: red;
}

.loader {
    position: absolute;
    left: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -20px 0 0 -60px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loader-logout {
    position: absolute;
    left: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: 350px 0 0 0;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loader-admin-tables {
    position: absolute;
    left: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: 130px 0 0 0;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.container-wide {
    width: 95%;
}

.container-wide-less {
    width: 85%;
}

.separate-forms {
    border-right-style: groove;
}

.profile-image {
    height: 50px;
    width: 50px;
}

.student-data-image {
    height: 150px;
    width: 150px;
}

.text-error {
    font-size: 12px;
    color: red;
}

.resize-none {
    resize: none;
}

.panel-title {
    font-size: 14px;
}

.panel-body {
    font-size: 12px;
    background-color: white;
}

.panel-body-heading {
    font-size: 14px;
    font-weight: bold;
}

.working-week-table {
    border: 1px solid #ddd;
}

.working-week-cell-border {
    border-right: 1px solid #ddd;
}

.first-column {
    width: 70px;
}

.table-cell-scroll {
    overflow: scroll;
}

.table-cell-hover:hover {
    background-color: #f5f5f5;
}

.table-hour-cell {
    overflow: auto;
    overflow-wrap: normal;
}

.tt {
    overflow: auto;
    max-height: 20px !important;
}

.working-hour-modal {
    padding-top: 10%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .navbar-right-logout {
        float: left !important;
    }

    .separate-forms {
        border-right-style: none;
    }
}
